<!DOCTYPE html>
<html>
<head>
  <title>ShopOnSHA</title>
  <%= stylesheet_link_tag    "ShopOnSHA", :media => "all" %>
  <%= javascript_include_tag "ShopOnSHA" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
